.header{
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #E9E9E6;
  z-index: 9999;
  padding-left: 5%;
  padding-right: 5%;
}
.nav{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.logo{
  flex: 2;
  display: flex;
  margin-top: 1.45rem;
}

.navelements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.navigation{
  flex: 1;
  margin-top: 1.45rem;
}

.active {
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
  padding: 0.3rem;
  border-left-style: none;
  border-right-style: none;
}

.portfolio {
  background-color: #E9E9E6;
}