html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  background-color: #E9E9E6;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
main,
menu,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat';
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.45rem;
  line-height: 1.1;
  text-align: left;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: #E9E9E6;
  font-family: 'Montserrat';
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 2rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: #E9E9E6;
  font-family: 'Roboto Slab', monospace;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  font-size: 1.3rem;
  line-height: 1.1;
  text-align: left;
}
h4 {
  margin-left: 0%;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  text-align: center;
  color: black;
  font-family: 'Montserrat';
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: 'Montserrat', monospace;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.3rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.3rem;
  font-family: 'Montserrat', monospace;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  font-family: 'Roboto Slab';
  font-size: 1rem;
  margin-bottom: 1.45rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

a:link {
  color:black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: 500;
}

a:active {
  color: black;
  font-weight: 500;
}

.sectionimg {
  position: relative;
  z-index: 1;
}

.imgtext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 40%;
}

.content {
  background-color: #E9E9E6;
  z-index: 999;
}

.contentbody {
  display: flex;
  justify-content:start;
  flex:1;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  padding-bottom:1rem;
}

.contenthead {
  margin-left: 10%;
  padding-top:3rem;
  text-align: left;
  z-index: -1;
}

.contenttext {
  margin:1rem;
  text-align: left;
  flex: 1;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #E9E9E6; /* Grey background */
  border-radius: 0.5rem;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 0rem; /* Add top padding */
  padding-bottom: 0rem; /* Add bottom padding */
  color: #E9E9E6; /* White text color */
  font-family: "Roboto Slab";
  padding-right: 1rem;
}

.finnish {width: 100%; background-color: #8b4f68;border-style: solid;border-width: 0.1rem;border-color:#E9E9E6;margin-bottom: 0.7rem;;margin-top: 0.3rem;border-radius: 0.5rem;}
.english {width: 100%; background-color: #8b4f68;border-style: solid;border-width: 0.1rem;border-color:#E9E9E6;margin-bottom: 0.7rem;;margin-top: 0.3rem;border-radius: 0.5rem;}
.swedish {width: 65%; background-color: #8b4f68;border-style: solid;border-width: 0.1rem;border-color:#E9E9E6;margin-bottom: 0.7rem;;margin-top: 0.3rem;border-radius: 0.5rem;}
.german {width: 50%; background-color: #8b4f68;border-style: solid;border-width: 0.1rem;border-color:#E9E9E6;margin-bottom: 0.7rem;;margin-top: 0.3rem;border-radius: 0.5rem;}

.portfoliolinks {
  margin:1rem;
  text-align: left;
  flex: 1;
}

.portfolio {
  display: flex;
  margin-left: 5%;
  margin-right: 5%
}

.portfoliolayout {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin:1rem;
}

.portfolioimg {
  width: 100%;
  margin: 1rem;
}

.portfoliotext {
  margin-left: 20%;
  margin-right: 20%;
  padding:0.3rem;
  background-color: #232433;
  text-align: center;
  margin-bottom: 1rem;
}

.forms {
  margin-top:2rem;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.field {
  text-align: center;
}

input {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

label {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1rem;
}

button {
  margin-top: 2rem;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
     transition:.5s;
}
.forms button:hover {
  background-color: #9b9b9b;
  color:#E9E9E6
}

textarea {
  margin-top: 0.5rem;
  width: 100%;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

[data-rmiz-wrap='visible'],
[data-rmiz-wrap='hidden'] {
  width: 100%;
  height: 100%;
  display: block;
}