body::-webkit-scrollbar {
    width: 0.2rem;
    padding: 0.2rem;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: auto;
  }

  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    background: rgb(151, 151, 151);
  }