body::-webkit-scrollbar {
    width: 0.4rem;
    padding: 0.2rem;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
     transition:.5s;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: rgb(57, 74, 75);
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: auto;
  }

  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: rgb(151, 151, 151);
  }